body{
    background:rgb(175, 175, 175);
    font-family:monospace;
    text-align:center;
}
h1,h2{
    color: rgb(0, 0, 0);
}
.kotak1{
    background:rgb(207, 84, 187);
    width:150px;
    float:left;
    height:150px;
    margin:20px;
    padding:20px;
}
.kotak2{
    background:rgb(208, 108, 221);
    width:150px;
    float:left;
    height:150px;
    margin:20px;
    padding:20px;
    -ms-transform: translate(50px,100px);/*support IE 9*/
    -webkit-transform: translate(50px,100px);/*support safari*/
    transform: translate(50px,100px);/*standard syntax*/
}